body {background-color:antiquewhite}

/*Remove arrows on inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

h1{
    padding: 20px;
    text-align: center;
    font-family: "Verdana";
}

#solve_button{
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: yellow;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#solve_button:active{
    background-color: rgb(176, 254, 8);
}

.grid{
    width: 284.4px; /*31.6*9*/
    margin: auto;
}

.options{
    word-break: break-word;
    text-align: center;
    font-size: 8pt;
    position:static;
    display: inline-flex;
    width: 31.6px;
    height: 31.6px;
    padding: 0;
    border: none;
}

.cell{
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
    background-color:white;
    color: black;
    border-radius: 0%;
    border-color: black;
    border-style: solid;
    border-width: 1pt;
    text-align: center;
}

.cell:focus{
    background-color: lightgrey;
}

.known{
    background-color: lightgreen !important;
}

.invalid{
    background-color: palevioletred !important;
}