body {background-color:antiquewhite}

/*Remove arrows on inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

h1{
    padding: 20px;
    text-align: center;
    font-family: "Verdana";
}

#solve_button{
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: yellow;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#solve_button:active{
    background-color: rgb(176, 254, 8);
}

.grid{
    width: 464.4px; /*31.6*9*/
    margin: auto;
}

#grid2{
    position: absolute;
    top:122px;
    transform: translate(-50%, 0);
    left:50%;
    z-index: -1;
}

.options{
    text-align: center;
    padding-left: 8px !important;;
    padding-right: 8px !important;;
    font-size: 8pt;
    vertical-align: middle;
    display: inline-block;
    width: 35.6px;
    height: 51.6px;
    padding: 0;
    color: darkgray;
    background-color: white;
}

.cell{
    padding: 0;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    color: black;
    border-radius: 0%;
    border-color: black;
    border-style: solid;
    border-width: 1pt;
    text-align: center;
}

.cell:focus{
    background-color: lightgrey;
}

.known{
    background-color: lightgreen !important;
}

.found{
    background-color: rgb(212, 241, 138) !important;
}

.invalid{
    background-color: palevioletred !important;
}